---
import data from "../../data.json"

const title = data["about"].hero.title
const description = data["about"].hero.description
const image = data["about"].hero.image

import HeroWrapper from "../HeroWrapper.astro"

/*<div class="h-auto max-h-[800px]">
  <div class="grid grid-cols-1 tablet:grid-cols-2 w-full items-center justify-items-center justify-center">
    <!-- Text Content -->
    <div class="flex flex-col space-y-10 justify-center order-2 tablet:order-1 px-5">
      <h1 class="font-blackstone text-black text-center text-hero_title_mobile tablet:text-hero_title laptop:text-8xl">{title}</h1>
      <div class="layout__b">
        <h2 class="font-prata font-normal text-custom_subtitle2  text-center tablet:text-left">{description}</h2>
      </div>
    </div>
    <!-- Image -->
    <div class="w-full z-0 order-1 tablet:order-2">
      <img src={image} alt="hero" class="object-cover max-h-[400px] tablet:max-h-[700px] w-full" />
    </div>
  </div>
  <div class="border-b-2 border-hero_color2 my-2"/>
</div> */
---

<HeroWrapper img={image} class="tablet:flex-row-reverse">
	<h1
		class="font-blackstone tablet:text-left tablet:text-size-8 laptop:text-[4rem] text-center text-[3rem] font-light"
	>
		{title}
	</h1>
	<p
		class="font-tajawal tablet:text-left text-size-6 tablet:text-size-5 laptop:text-4xl text-center text-2xl"
	>
		{description}
	</p>
	<p class="font-tajawal tablet:text-left laptop:text-2xl text-size-3 text-center">
		We’ll spend an hour once a week for ten weeks in a private one-on-one session learning how to
		live your happy <span class="font-tajawal font-bold"> even</span> after life and exploring new beginnings.
	</p>
</HeroWrapper>
