---
import Connect from "../components/coaching/Connect.astro"
import Hero from "../components/coaching/Hero.astro"
import PaymentPlan from "../components/coaching/PaymentPlan.astro"
import Steps from "../components/coaching/Steps.astro"
import Layout from "../layouts/Layout.astro"

import getPage from "@lib/db/queries/getPage.ts"
import getSEO from "@lib/db/queries/getSEO.ts"

import { CoachingPageSchema, type CoachingPageZodSchemaType } from "@lib/db/models/coaching"

const seoData = await getSEO("seo_id", "seo", "coaching")

const data = await getPage<CoachingPageZodSchemaType>(
	"coaching_page_id",
	"coaching",
	CoachingPageSchema
)

const { description, image, subtitle, title } = data.hero
const connect = data.connect
const guide = data.guide
const paymentPlan = data.payment_plan

Astro.response.headers.set("Cache-Control", "public, s-maxage=300, stale-while-revalidate=3600")
---

<Layout
	title={seoData!.title}
	description={seoData!.description}
	image={image}
	keywords={seoData!.keywords}
>
	<main>
		<Hero title={title} description={description} image={image} subtitle={subtitle} />
		<Steps
			title={guide.title}
			description={guide.description}
			subtitle={guide.subtitle}
			steps={guide.steps}
		/>
		<Connect
			img={connect.image}
			title={connect.title}
			subtitle={connect.subtitle}
			description={connect.description}
		/>
		<PaymentPlan payment={paymentPlan} />
	</main>
</Layout>
