---
import Benefits from "../components/home/Benefits.astro"
import CoachingInfo from "../components/home/CoachingInfo.astro"
import Hero from "../components/home/Hero.astro"
import UserPainPoints from "../components/home/UserPainPoints.astro"
import Layout from "../layouts/Layout.astro"

import { type HomePageZodSchemaType, HomePageSchema } from "../lib/models/home.ts"
import getPage from "../lib/queries/getPage.ts"

const data = await getPage<HomePageZodSchemaType>("home_page_id", "home", HomePageSchema)

const heroPage = data.sections.hero
const coachingData = data.sections.coaching_info
const benefitsData = data.sections.benefits
const userPainPointsData = data.sections.user_pain_points

Astro.response.headers.set("Cache-Control", "public, s-maxage=300, stale-while-revalidate=3600")
---

<Layout title="Tricia Rago Coaching" description="hello to tricia coaching" image={heroPage.image}>
	<main>
		<Hero
			image={heroPage.image}
			description={heroPage.description}
			title={heroPage.title}
			subtitle={heroPage.subtitle}
		/>
		<UserPainPoints
			title={userPainPointsData.title}
			reviews={userPainPointsData.reviews}
			pain_points={userPainPointsData.pain_points}
			subtitle={userPainPointsData.subtitle}
		/>
		<Benefits
			title={benefitsData.title}
			image={benefitsData.image}
			benefits={benefitsData.benefits}
		/>
		<CoachingInfo
			image={coachingData.image}
			title={coachingData.title}
			subtitle={coachingData.subtitle}
			description={coachingData.description}
		/>
	</main>
</Layout>
