---
import Benefits from "@components/home/Benefits.astro"
import CoachingInfo from "@components/home/CoachingInfo.astro"
import Hero from "@components/home/Hero.astro"
import UserPainPoints from "@components/home/UserPainPoints.astro"
import Layout from "../layouts/Layout.astro"

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
import { type HomePageZodSchemaType, HomePageSchema } from "@lib/db/models/home.ts"

import getPage from "@lib/db/queries/getPage.ts"
import getSEO from "@lib/db/queries/getSEO.ts"
=======
import { SectionSchema } from "~/lib/models/sections"

import getSection from "@lib/queries/getSection.ts"
import getSEO from "@lib/queries/getSEO.ts"
>>>>>>> cf2b7c4 (backend system)
=======
import getSEO from "@lib/queries/getSEO.ts"
import { HomePageSchema } from "~/lib/models/home"
import getPage from "~/lib/queries/getPage"
=======
import getSEO from "@lib/db/queries/getSEO.ts"
import { HomePageSchema } from "~/lib/db/models/home"
import getPage from "~/lib/db/queries/getPage"
>>>>>>> 5994448 (custom form from scratch)
import { type pageStoreKeys } from "~/types"

const homeId: pageStoreKeys = "home_page_id"
>>>>>>> e5b7640 (Feature[change the arquitecture of the queries and improve the scalability])

const seoData = await getSEO("seo_id", "seo", "home")
const data = await getPage(homeId, "home", HomePageSchema)

const { sections } = data

const heroPage = sections.hero
const coachingData = sections.coaching_info
const benefitsData = sections.benefits
const userPainPointsData = sections.user_pain_points

Astro.response.headers.set("Cache-Control", "public, s-maxage=300, stale-while-revalidate=3600")
---

<Layout
	title={seoData!.title}
	description={seoData!.description}
	image={heroPage.image}
	keywords={seoData!.keywords}
>
	<main>
		<Hero
			image={heroPage.image}
			description={heroPage.description}
			title={heroPage.title}
			subtitle={heroPage.subtitle}
		/>
		<UserPainPoints
			title={userPainPointsData.title}
			reviews={userPainPointsData.reviews}
			pain_points={userPainPointsData.pain_points}
			subtitle={userPainPointsData.subtitle}
		/>
		<Benefits
			title={benefitsData.title}
			image={benefitsData.image}
			benefits={benefitsData.benefits}
		/>
		<CoachingInfo
			image={coachingData.image}
			title={coachingData.title}
			subtitle={coachingData.subtitle}
			description={coachingData.description}
		/>
	</main>
</Layout>
