---
import data from "../../data.json"

const paymentPlan = data.coaching["payment_plan"]

const colorAsigment: Record<number, string> = {
	1: "#eee1e0",
	2: "#eaeaea",
	3: "#f1d9d5",
}

const colorBtnAssigment: Record<number, string> = {
	1: "#c39e99",
	2: "#bbbbbb",
	3: "#ce7c75",
}
---

<div class="section mx-auto my-10 w-full space-y-20 px-10 tablet:max-w-6xl">
	<div class="h-auto w-full space-y-5">
		<h1
			class="pain-points ml-4 w-full text-center font-tajawal text-xl font-semibold leading-14 text-hero_color tablet:text-2xl"
		>
			Ready To Make A Move?
		</h1>
		<h5 class="tablet:text-left; text-center font-prata text-5xl tablet:text-6xl">
			Yes! Can't wait to get started!
		</h5>
	</div>
	<div class="grid grid-cols-1 justify-items-center gap-20 tablet:grid-cols-3 tablet:gap-10">
		{
			paymentPlan.map((payment) => {
				const isPair = payment.id % 2 === 0
				return (
					<div
						class={`relative w-full ${colorAsigment[payment.id]} h-auto items-center justify-center space-y-10 py-5 transition-transform duration-300 hover:scale-105`}
						style={{ backgroundColor: colorAsigment[payment.id] }}
					>
						<div class="absolute -top-12 left-1/2 -translate-x-1/2 transform">
							<div
								class="flex h-20 w-20 items-center justify-center rounded-full shadow-lg"
								style={{ backgroundColor: colorBtnAssigment[payment.id] }}
							>
								<span class="text-white text-2xl">{payment.id}</span>
							</div>
						</div>
						<h3 class="text-center font-prata text-2xl font-light tablet:text-center">
							{payment.title}
						</h3>
						<p class="text-center font-tajawal text-2xl font-black tablet:text-center">
							{payment.description}
						</p>
						<p class="text-center font-prata text-3xl font-bold tablet:text-center">
							{payment.price}
						</p>
						<div class="flex w-full justify-center px-5">
							<a href="/contact" class="w-full">
								<button
									class="text-white w-full px-5 py-3 font-prata capitalize"
									style={{ backgroundColor: colorBtnAssigment[payment.id] }}
								>
									ENROLL NOW
								</button>
							</a>
						</div>
					</div>
				)
			})
		}
	</div>
</div>
