---
import data from "../../data.json"

const steps = data.coaching["description"]
---

<div class="section mx-auto w-full px-10">
	<!-- Section Title -->
	<div class="h-auto w-full space-y-5">
		<h1 class="tablet:text-left; text-center font-prata text-5xl text-hero_color tablet:text-6xl">
			Conscious Uncoupling
		</h1>
		<h5
			class="pain-points ml-4 w-full text-center font-tajawal text-xl font-semibold leading-14 tablet:text-2xl"
		>
			5 Steps To Living Happily <span class="font-bold text-hero_color">Even</span> After
		</h5>

	</div>
	<div class="mx-auto w-full max-w-3xl">
		<h5
			class="text-center font-tajawal text-lg font-thin uppercase leading-9 tablet:text-xl tablet:normal-case"
		>
			A powerful 10-Week Course, the 5 Steps of my Conscious Uncoupling Coaching Program, offers you the roadmap for how
			to turn the pain of your breakup into a genuine opportunity to recreate your life in a bigger
			and better way. This deeply personal approach will guide you through the devastating storm of
			the loss of love to finding emotional freedom, reclaiming your power and finally to getting
			your life back on track!!
		</h5>
	</div>
	   <h3 class="text-center font-prata text-5xl font-light leading-9 mt-[4rem] w-full text-hero_color">Take a peek inside...</h3>

	<span class="hidden laptop:flex mx-auto max-w-5xl laptop:flex-col px-20 font-blackstone text-7xl laptop:-rotate-[25deg] laptop:-translate-y-32 laptop:-translate-x-20">the goods</span>

	<!-- Steps Grid -->
	<div class="grid h-auto grid-cols-1 justify-items-center">
		{
			steps.map((item) => {
				const isPair = item.id % 2 === 0
				return (
					<div
						class={`flex flex-col px-0 tablet:px-5 laptop:px-10 items-center gap-2 tablet:flex-row ${isPair ? "tablet:flex-row-reverse" : ""}`}
					>
						{/* Text Content */}
						<div class="flex-1 space-y-2" id={`${item.id}`}>
							<span
								class={`w-full text-center font-bonVivant text-lg text-hero_color2 ${
									isPair ? "tablet:text-center" : "tablet:text-left"
								}`}
							>
								{`Step ${item.id}`}
							</span>

							<h3
								class={`font-prata text-xl tablet:lg laptop:text-2xl font-semibold ${isPair ? "text-center" : "text-center tablet:text-left"}`}
							>
								{item.title}
							</h3>

							<p class="text-gray-700 text-lg tablet:text-[1.20rem] leading-[22px] laptop:text-xl mx-auto mt-5 tablet:max-w-sm text-center font-tajawal tablet:text-left">
								{item.description}
							</p>
						</div>

						{/* Image */}
						<div class="z-10">
						<div class="relative w-[300px] h-[300px] tablet:w-[350px] tablet:h-[350px] laptop:w-[450px] laptop:h-[450px] bg-[url('/images/tablet.png')] bg-contain bg-no-repeat">
						  <img src={item.image} class="absolute w-[162px] h-[215px] top-[34px] left-[52px] tablet:w-[190px] tablet:h-[253px] tablet:top-[39px] tablet:left-[60px] laptop:top-[50px] laptop:right-[0px] laptop:left-[78px] laptop:w-[243px] laptop:h-[325px] object-cover rounded-md"/>
                        </div>
						</div>

					</div>
					<div
						class="border-black border-[1px] border-hero_color2 mx-auto max-w-5xl w-full translate-y-0 tablet:-translate-y-[60px] laptop:-translate-y-[80px]"
					/>
				)
			})
		}
	</div>
</div>
