---
import data from "../../data.json"

const guide = data.coaching["guide"]

---

<div class="section mx-auto w-full px-10">
	<!-- Section Title -->
	<div class="h-auto w-full space-y-5">
		<h1 class="tablet:text-left; text-center font-prata text-size-7 text-light-rose tablet:text-size-7 laptop:text-size-8">
			{guide.title}
		</h1>
		<h5
			class="ml-4 w-full text-center font-tajawal text-xl font-semibold leading-14 tablet:text-2xl"
		>
			{guide.subtitle}<span class="font-bold text-light-rose">Even</span> After
		</h5>

	</div>
	<div class="mx-auto w-full tablet:max-w-lg laptop:max-w-3xl">
		<h5
			class="text-justify font-tajawal text-size-2 font-thin leading-9 tablet:text-size-3"
		>
			{guide.description}
		</h5>
	</div>
	   <h3 class="text-center font-prata text-size-6 laptop:text-size-7 font-light leading-[4rem] mt-[4rem] w-full text-light-rose">Take a peek inside...</h3>

	<span class="hidden laptop:flex mx-auto max-w-5xl laptop:flex-col px-20 font-blackstone text-7xl laptop:-rotate-[25deg] laptop:-translate-y-32 laptop:-translate-x-20">the goods</span>

	<!-- Steps Grid -->
	<div class="grid h-auto grid-cols-1 justify-items-center">
		{
			guide.steps.map((item) => {
				const isPair = item.id % 2 === 0
				return (
					<div
						class={`flex flex-col px-0 tablet:px-5 laptop:px-10 items-center gap-2 tablet:flex-row ${isPair ? "tablet:flex-row-reverse" : ""}`}
					>
						{/* Text Content */}
						<div class="flex-1 space-y-2" id={`${item.id}`}>
							<p
								class={`w-full font-bonVivant text-[1.5rem] text-light-rose text-center tablet:text-left`}
							>
								{`Step ${item.id}`}
							</p>

							<h3
								class={`font-prata text-[18px] tablet:text-[20px] laptop:text-[22px] font-semibold text-center tablet:text-left`}
							>
								{item.title}
							</h3>

							<p class="text-gray-700 text-[16px] tablet:text-[1.20rem] leading-[22px] laptop:text-size-2 tablet:max-w-sm text-justify font-tajawal tablet:text-left">
								{item.description}
							</p>
						</div>

						{/* Image */}
						<div class="z-10">
						<div class="relative w-[300px] h-[300px] tablet:w-[350px] tablet:h-[350px] laptop:w-[450px] laptop:h-[450px] bg-[url('/images/tablet.png')] bg-contain bg-no-repeat">
						  <img src={item.image} class="absolute w-[162px] h-[215px] top-[34px] left-[52px] tablet:w-[190px] tablet:h-[253px] tablet:top-[39px] tablet:left-[60px] laptop:top-[50px] laptop:right-[0px] laptop:left-[78px] laptop:w-[243px] laptop:h-[325px] object-cover rounded-md"/>
                        </div>
						</div>

					</div>
					<div
						class="border-terracotta border-[1px] border-hero_color2 mx-auto max-w-5xl w-full translate-y-0 tablet:-translate-y-[60px] laptop:-translate-y-[80px]"
					/>
				)
			})
		}
	</div>
</div>
