---
import { resources, socialLinks } from "../consts"
---

<footer class="border-t-light-rose border-t-[2px] bg-[var(--color-cream)] py-12 text-black">
	<div
		class="laptop:flex-row laptop:items-start container mx-auto flex flex-col items-center justify-between gap-12 px-5"
	>
		<!-- Left Section: Title -->
		<div class="max-w-md space-y-6">
			<h3
				class="font-prata tablet:text-left tablet:text-2xl text-center text-xl leading-tight font-bold"
			>
				Transformational relationship coaching for women who are looking to create the life of their
				dreams.
			</h3>
			<h1 class="font-blackstone tablet:text-7xl text-center text-5xl">Tricia Rago</h1>
		</div>

		<!-- Center Section: Resources -->
		<nav class="space-y-4">
			<h4
				class="font-prata text-size-4 tablet:text-left border-b-light-rose border-b-[2px] text-center"
			>
				Resources
			</h4>

			<ul class="space-y-2">
				{
					resources.map((resource) => (
						<li class="tablet:text-left text-center">
							<a
								href={resource.href}
								class="font-tajawal text-size-3 hover:text-light-rose transition-colors duration-300"
							>
								{resource.name}
							</a>
						</li>
					))
				}
			</ul>
		</nav>

		<!-- Right Section: Social Media -->
		<div class="space-y-4">
			<h4
				class="font-prata text-size-4 tablet:text-left border-b-light-rose border-b-[2px] text-center"
			>
				Follow Us
			</h4>
			<ul class="flex flex-col gap-4">
				{
					socialLinks.map((link) => (
						<li>
							<a
								href={link.href}
								target="_blank"
								rel="noopener noreferrer"
								class="font-tajawal hover:text-light-rose flex items-center gap-4 text-lg transition-colors duration-300"
							>
								<img src={link.icon} alt={link.name} class="hover:text-light-rose h-8 w-8" />
								{link.name}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
	<div class="mt-6 text-center">
		<p class="text-sm text-gray-500">
			&copy; {new Date().getFullYear()} Tricia Rago Coaching. All rights reserved.
		</p>
	</div>
</footer>
